<html>
  <head>
    <title>Eastern Nagano Castle Tour</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css" >
  </head>
  <body>
      <h1 class="title">Eastern Nagano Castle Tour</h1>
    <div id="map"></div>
    <div id="infoBox">
        <h1 id="castleTitle">Click on a flag to get started!</h1>
        <div class="flex">
            <img id="castlePhoto"  />
            <div id="mainInfo">
                <h3 id="castleDate"> </h3>
                <h3 id="castleOwner"> </h3>
            </div>
        </div>
        <p id="castleInfo"></p>
    </div>




    <script>

        var castles = <%- castles %>;

        var map;

        // Initialise and set start point for map
        function initMap() {
            const myLatLng = { lat: 36.29739303213108, lng: 138.53031026316654 };

            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 10
            }
        );

        //Add markers to the map
      castles.forEach(function(castle) {
          var castle = new google.maps.Marker({
              position: {lat:castle.castle_x, lng:castle.castle_y},
              map,
              title: castle.castle_name,
              icon: "sanadaflag.png",
              owner: castle.castle_built_by,
              built: castle.castle_date,
              information: castle.castle_info
            })
        // Update the U.I. when a marker is clicked
          google.maps.event.addListener(castle, 'click', function() {
             document.getElementById('castleTitle').innerHTML = castle.title;
             document.getElementById('castleDate').innerHTML = "Built: " + castle.built;
             document.getElementById('castleOwner').innerHTML = "Built by: " + castle.owner;
             document.getElementById('castleInfo').innerHTML =  castle.information;
             document.getElementById('castlePhoto').src = castle.title + ".png" ;
          });
      });
    }

    </script>

    <script src=<%-apikey%>
    async defer></script>




  </body>
  <footer>
      <div class="footer">
          All information is thought to be correct, but errors in translation of names or dates may exist. This website was designed for fun only, and should not be considered to be 100% accurate.
      </div>
  </footer>
</html>
